body {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.routes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.slider-btn {
  position: absolute;
  left: 17px;
  top: 7px;
}
.routes-container i {
  font-size: 1.8rem;
  color: rgb(243, 70, 70);
  cursor: pointer;
}

.slider-container .close-item {
  text-align: end;
}

.slider-container .close-item i {
  font-size: 1.5rem;
  color: rgb(121, 19, 19);
  cursor: pointer;
}

.bm-burger-button {
  display: none;
}
.bm-menu-wrap {
  background-color: #007bbc;
  padding: 20px;
}
.bm-cross-button {
  display: none;
}
.slider-container a {
  color: white !important;
  padding: 20px;
  border: none;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  font-style: oblique;
}
.slider-container a:hover {
  text-decoration: none;
  color: rgb(196, 192, 192) !important;
}
